
<div class='image-cover'>
    <img src='{{this.flags.svg}}' alt='{{this.name.common}}' class='flag-img' />
    <h1 class='title'>{{this.name.common}}</h1>
    
</div>
<ul class='country-list'>
    <li class='country-item'>
        <span>Capital: </span>{{this.capital}}
    </li>
    <li class='country-item'>
        <span>Population: </span>{{this.population}}
    </li>
    <li class='country-item'>
        <span>Languages: </span>{{this.languages}}
</ul>